<h1>Listing parent_instances</h1>

<table>
  <tr>
    <th>Parent chain instance</th>
    <th>Child chain instance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parent_instances.each do |parent_instance| %>
  <tr>
    <td><%= parent_instance.parent_chain_instance_id %></td>
    <td><%= parent_instance.child_chain_instance_id %></td>
    <td><%= link_to 'Show', parent_instance %></td>
    <td><%= link_to 'Edit', edit_parent_instance_path(parent_instance) %></td>
    <td><%= link_to 'Destroy', parent_instance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parent instance', new_parent_instance_path %>
