<h1>New chain_instance</h1>

<% form_for(@chain_instance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :chain_id %><br />
    <%= f.text_field :chain_id %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </p>
  <p>
    <%= f.label :completed %><br />
    <%= f.datetime_select :completed %>
  </p>
  <p>
    <%= f.label :starttime %><br />
    <%= f.datetime_select :starttime %>
  </p>
  <p>
    <%= f.label :timeout %><br />
    <%= f.text_field :timeout %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', chain_instances_path %>