<p id="notice"><%= notice %></p>

<p>
  <b>Chain:</b>
  <%= @chain_instance.chain_id %>
</p>

<p>
  <b>Status:</b>
  <%= @chain_instance.status %>
</p>

<p>
  <b>Completedtime:</b>
  <%= @chain_instance.completedtime %>
</p>

<p>
  <b>Starttime:</b>
  <%= @chain_instance.starttime %>
</p>

<p>
  <b>Timeout:</b>
  <%= @chain_instance.timeout %>
</p>


<%= link_to 'Edit', edit_chain_instance_path(@chain_instance) %> |
<%= link_to 'Back', chain_instances_path %>
