<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @host.name %>
  <br>
  <br>
  Pools:
  <ul>
    <%=h @host.pools.each do |p| %>
      <li><%=h p.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Last checkin:</b>
  <%= @host.last_checkin %>
</p>


<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
