<h1>Listing actions</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Command</th>
    <th>Pool</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @actions.each do |action| %>
  <tr>
    <td><%= action.description %></td>
    <td><%= action.command %></td>
    <td><%= action.pool_id %></td>
    <td><%= link_to 'Show', action %></td>
    <td><%= link_to 'Edit', edit_action_path(action) %></td>
    <td><%= link_to 'Destroy', action, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Action', new_action_path %>
