<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @action.description %>
</p>

<p>
  <b>Command:</b>
  <%= @action.command %>
</p>

<p>
  <b>Pool:</b>
  <%= @action.pool_id %>
</p>


<%= link_to 'Edit', edit_action_path(@action) %> |
<%= link_to 'Back', actions_path %>
