<h1>Listing automations</h1>

<table>
  <tr>
    <th>Chain</th>
    <th>Active</th>
    <th>Precondition</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @automations.each do |automation| %>
  <tr>
    <td><%= automation.chain_id %></td>
    <td><%= automation.active %></td>
    <td><%= automation.precondition %></td>
    <td><%= link_to 'Show', automation %></td>
    <td><%= link_to 'Edit', edit_automation_path(automation) %></td>
    <td><%= link_to 'Destroy', automation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Automation', new_automation_path %>
