<p id="notice"><%= notice %></p>

<p>
  <b>Chain:</b>
  <%= @automation.chain_id %>
</p>

<p>
  <b>Active:</b>
  <%= @automation.active %>
</p>

<p>
  <b>Precondition:</b>
  <%= @automation.precondition %>
</p>


<%= link_to 'Edit', edit_automation_path(@automation) %> |
<%= link_to 'Back', automations_path %>
