<%= form_for(@chain) do |f| %>
  <% if @chain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chain.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
      <% @chain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :action_id %><br />
    <%= collection_select(:chain, :action_id, Action.all, :id, :description  ) %> 
    <%#= f.text_field :action_id %>
  </div>
  <div class="field">
    <%= f.label :precondition %><br />
    <%= f.text_field :precondition %>
  </div>
  <div class="field">
    <%= f.label :retries %><br />
    <%= f.text_field :retries %>
  </div>
  <div class="field">
    <%= f.label :timeout %><br />
    <%= f.text_field :timeout %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
