<p>
  <b>Action:</b>
  <%=h @chain.act.description %>
</p>

<p>
  <b>Precondition:</b>
  <%=h @chain.precondition %>
  <br>
  <br>
  Parents:
  <ul>
    <% @chain.parents.each do |p| %>
      <li><%=h link_to(p.act.description, :controller => "chains", :action => "show", :id => p.id )  %></li>
    <% end %>
    <% unless @chain.parents.any? %>
      <li>None</li>
    <% end %>
  </ul>
  <br>
  Children:
  <ul>
    <% @chain.children.each do |c| %>
      <li> <%= link_to(c.act.description, :controller => "chains", :action => "show", :id => c.id ) %> </li>
    <% end %>
    <% unless @chain.children.any? %>
      <li>None</li>
    <% end %>
  </ul>
</p>

<p>
  <b>Retries:</b>
  <%=h @chain.retries %>
</p>


<%= link_to 'Edit', edit_chain_path(@chain) %> |
<%= link_to 'Back', chains_path %>
