<h1>Listing parents</h1>

<table>
  <tr>
    <th>Parent chain</th>
    <th>Child chain</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parents.each do |parent| %>
  <tr>
    <td><%= parent.parent_chain_id %></td>
    <td><%= parent.child_chain_id %></td>
    <td><%= link_to 'Show', parent %></td>
    <td><%= link_to 'Edit', edit_parent_path(parent) %></td>
    <td><%= link_to 'Destroy', parent, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parent', new_parent_path %>
